<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="container">

        <div class="row">

            <div class="column mt10 browsebuttons">
                <a href="/filter" class="button button-primary bluebutton textwhite mb0 ml10">Filter</a>
                <a href="/compare" class="button button-primary redbutton textwhite mb0 ml10">Compare</a>
            </div>

            <div class="column mt10 browsebuttons">
                <form action="/browse" method="get">
                    <fieldset class="talright mb0 dflex">
                        <input type="text" placeholder="Search All Cards" name="search" id="searchField" class="mb0 searchbar" required>
                        <input class="button-primary bluebutton textwhite mb0 ml10" type="submit" value="Search">
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

    <%- include("partials/cards")  %>

    <%- include("partials/footer") %>
</body>
</html>