<div class="navcontainer w100">


  <nav class="container">

  <div class="row navrow">

    <div class="column-50 navsection dflex alitemscenter">
      <a href="/" class="navlink textblack"><img src="/images/favicon.png" width="40" alt=""></a>
      <a href="/" class="navlink textblack"> Home </a>
      <a href="/mycards" class="navlink textblack"> My Cards </a>
      <a href="/browse" class="navlink textblack"> Browse Cards </a>
    </div>

    <div class="column-50 navsection dflex alitemscenter">
      <a href="/login" class="button redbutton mb0">Log in</a>
      <a href="/register" class="button yellowbutton mb0 textblack">Sign up</a>
    </div>

  </div>

  </nav>

</div>