<div class="navcontainer">


  <nav class="container">

  <div class="row navrow">

    <div class="column-50 leftnav">
      <a href="/" class="navlink"><img src="/images/favicon.png" width="40" alt=""></a>
      <a href="/" class="navlink"> Home </a>
      <a href="" class="navlink"> My Cards </a>
      <a href="/browse" class="navlink"> Browse Cards </a>
    </div>

    <div class="column-50 rightnav">
      <a href="/login" class="button redbutton">Log in</a>
      <a href="/register" class="button yellowbutton">Sign up</a>
    </div>

  </div>

  </nav>

</div>