<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="container">

        <div class="row">

            <div class="column">
                <form action="/browse" method="post" class="mb0">
                    <fieldset class="talright mb0">
                        <select id="filter" name="filter">
                            <!--https://www.geeksforgeeks.org/how-to-set-the-default-value-for-an-html-select-element/-->
                            <option value="none" selected disabled hidden>Filter</option>
                            <option value="filt">Filter</option>                          
                        </select>
                        <input class="button-primary bluebutton textwhite mb0" type="submit" value="Go">
                    </fieldset>
                </form>
            </div>

            <div class="column">
                <!-- form from milligram docs -->
                <div class="container mt10">
                    <form action="/browse" method="post" class="mb0">
                        <fieldset class="talright mb0">
                            <input type="text" placeholder="Search" name="search" id="searchField" class="wauto mb0">
                            <input class="button-primary bluebutton textwhite mb0" type="submit" value="Search">
                        </fieldset>
                        <select id="filter" name="filter">
                            <!--https://www.geeksforgeeks.org/how-to-set-the-default-value-for-an-html-select-element/-->
                            <option value="none" selected disabled hidden>Search</option>
                            <option value="filt">All cards</option>
                            <option value="filt">Collections</option>                       
                        </select>
                    </form>
                </div>
            </div>
        </div>

    </div>



    
    <%- include("partials/cards") %>
    <%- include("partials/footer") %>
</body>
</html>