<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>

    <!-- form from milligram docs -->
    <div class="container mtop10">
        <form action="/browse" method="post" class="mbottom0">
            <fieldset class="mbottom0">
                <input type="text" placeholder="Search" name="search" id="searchField" class="searchbar mbottom0">
                <input class="button-primary bluebutton" type="submit" value="Search">
            </fieldset>
        </form>
    </div>
    
    <%- include("partials/cards") %>
    <%- include("partials/footer") %>
</body>
</html>