<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="container">

        <div class="row">

            <div class="column">

                <a href="/filter"><button class="button-primary bluebutton textwhite mb0 ml10" >Filter</button></button></a>
            </div>

            <div class="column">
                <!-- form from milligram docs -->
                <div class="container">
                    <form action="/browse" method="post">
                        <fieldset class="talright mb0 dflex">
                            <input type="text" placeholder="Search" name="search" id="searchField" class="wauto mb0 searchbar">
                            <input class="button-primary bluebutton textwhite mb0 ml10" type="submit" value="Search">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <%- include("partials/cards") %>
    <%- include("partials/footer") %>
</body>
</html>