<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>

    <div class="container pokecardcontainer">
        <div class="row">

            <div class="column column-25">
                <img class="cardpageimg" src="https://assets.tcgdex.net/en/swsh/swsh1/2/high.webp" alt="">
            </div>

            <div class="column">
                <p>a coumn</p>
            </div>

            <div class="column">
                <p>another coumn</p>
            </div>
        </div>
    </div>
        
    <%- include("partials/footer") %>
</body>
</html>