<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<body>
  <%- include("partials/navbar")  %>

  <div class="homehead">
    
    <img src="images/pokeball_straight.png" alt="" height="80">
    <h1>Collectemon</h1>
    <div><p class="centertext">Where there is knowledge there is power (and fun) !</p></div>
    <div><p class="centertext">We empower you to collect, monitor, trade, sort and browse Pokémon cards</p></div>

    <div class="homepagebuttons">
      <a href="" class="redoutlinebutton button button-outline">Browse Cards</a>
      <a href="" class="yellowoutlinebutton button button-outline">View Expansions</a>
    </div>

  </div>


  <div class="container">
    <div class="row homerow">

      <div class= "column lefthomepage homepagebox">
          <h1 class="centertext">Collect</h1>
          <p class="centertext">Monitor your progress towards catching em' all with our dedicated tracking platform</p>

          <img class="homeimg" src="images/trading_game.png" alt="">
      </div>

      <div class= "column righthomepage homepagebox">
          <h1 class="centertext">Share</h1>

          <p class="centertext">Share your collections with friends and compete</p>
          <img class="homeimg" src="images/cards.png" alt="">
      </div>

    </div>
  </div>
  
  <%- include("partials/footer")  %>
</body>
</html>