<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<body>
  <%- include("partials/navbar")  %>
  <div class="homehead textwhite dflex fdcol alitemscenter w100 mycards">
    <img src="images/pokeball_straight.png" alt="" height="80">
    <h1>My Cards</h1>
    <div><p class="centertext">You can view your cards here!</p></div>
    <div><p class="centertext">Explore the Pokevérse through the All Cards tab</p></div>

    <div class="homepagebuttons dflex">
      <a href="/mycards/collections" class="button redbutton mb0">My Collections</a>
      <a href="/mycards/liked" class="button yellowbutton mb0 ml10 textblack">My Liked Cards</a>
    </div>

  </div>

  </div>
  
  <%- include("partials/footer")  %>
</body>
</html>