<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>
    <form action="" class="container logsigncontainer mt20">

        <div class="row formrow">
            <div class="column formcolumn centertext">
                <img src="images/pokeball_straight.png" alt="" width="72">
            </div>
        </div>

        <div class="row formrow centertext">
            <div class="column formcolumn">
                <h3>Please Sign In</h1>
            </div>
        </div>
        

        <div class="row formrow">
            <div class="column formcolumn">
                    <input type="email" placeholder="email" id="exampleEmailInput" class="signformfield">
            </div>
        </div>

        <div class="row formrow">
            <div class="column formcolumn">
                    <input type="email" placeholder="display name" id="exampleEmailInput" class="signformfield">
            </div>
        </div>

        <div class="row jcontcenter">
            <div class="column formcolumn">
                <!--  lines adapted from skeleton doc-->
                    <input type="password" placeholder="password" id="exampleEmailInput" class="signformfield">
            </div>
        </div>

        <div class="row jcontcenter">
            <div class="column formcolumn">
                <!--  lines adapted from skeleton doc-->
                    <input type="password" placeholder="confirm password" id="exampleEmailInput" class="signformfield">
            </div>
        </div>

        <div class="row jcontcenter centertext">
            <div class="column formcolumn">
                <a href="" class="yellowbutton button w100 textblack">Sign up</a>            
            </div>
        </div>

    </form>
    <%- include("partials/footer")  %>
</body>
</html>