<footer class="container footercontainer w100 textwhite mt20">
    <div class="row footerrow">

      <div class="column column-40 footercopy footercol">
        <span>© 2024 Tradémon</span>
      </div>
        
      <div class="column column-20 jcontcenter footercol dflex">
        <img src="/images/pokeball_white.png" height="32" alt="">
      </div>
  
      <div class="column column-40 footerlinks footercol dflex">
        <a href="/" class="textwhite"> Home </a>
        <a href="/browse" class="textwhite"> Browse </a>
        <a href="/account" class="textwhite"> Account </a>
      </div>

    </div>

    <div class="row">
      <div class="column">
        <p class="tandc">The information presented on this website about the Pokémon Trading Card Game, including images and text, is intellectual property of The Pokémon Company, Nintendo, Game Freak, Creatures and/or Wizards of the Coast. Trademon is not produced by, endorsed by, supported by, or affiliated with any of these companies.</p>
      </div>
    </div>
</footer>