<div class="navcontainer w100">


  <nav class="container">

  <div class="row navrow">

    <div class="column-50 navsection dflex alitemscenter navlinks">
      <a href="/" class="navlink textblack navimg"><img src="/images/favicon.png" alt=""></a>
      <a href="/" class="navlink textblack"> Home </a>
      <a href="/mycards" class="navlink textblack"> My Cards </a>
      <a href="/browse" class="navlink textblack"> All Cards </a>
      <a href="/collections" class="navlink textblack"> Collections </a>
      <a href="/expansions" class="navlink textblack"> Expansions </a>
    </div>

    <% if (typeof userid === "undefined" || userid === null) { %>
      <div class="column-50 navsection dflex alitemscenter">
        <a href="/login" class="button redbutton mb0">Log in</a>
        <a href="/register" class="button yellowbutton mb0 textblack">Sign up</a>
      </div>
    <% } else { %>
      <div class="column-50 navsection dflex alitemscenter">
        <a href="/account" class="button yellowbutton mb0 textblack">Account</a>
        <a href="/logout" class="button redbutton mb0">Log Out</a>
      </div>
    <% } %>

  </div>

  </nav>

</div>