<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>
    <form action="/login" method="post" class="container logsigncontainer mt20">

        <% if (typeof message !== "undefined") { %>
            <div class="row jcontcenter centertext">
                <div class="column formcolumn">
                    <h4 class="textred"><%= message  %></h4>
                </div>
            </div>
        <% } %>

        <div class="row">
            <div class="column centertext">
                <img src="images/pokeball_straight.png" alt="" width="72">
            </div>
        </div>

        <div class="row">
            <div class="column centertext">
                <h3>Please Sign In</h1>
            </div>
        </div>
        

        <div class="row">
            <div class="column centertext">
                <input type="email" placeholder="email" name="email" class="loginformfield" required>
            </div>
        </div>

        <div class="row">
            <div class="column centertext">
                <input type="password" placeholder="password" name="pass" class="loginformfield" required>
            </div>
        </div>

        <div class="row">
            <div class="column centertext">
                <input class="redbutton button w100" type="submit" value="Log In">      
            </div>
        </div>

    </form>
    <%- include("partials/footer")  %>
</body>
</html>