html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* navbar */

.navcontainer {
    background-color: rgb(248,249,250);
    margin-bottom: 40px;
}

.navrow {
    justify-content: space-between;
    row-gap: 10px;
}

.navimg {
    width: 40px;
    flex-shrink: 0;
}

.redbutton {
    background-color: rgb(220,53,69) !important;
    border-color: rgb(220,53,69) !important;

}

.redbutton:hover {
    background-color: rgb(220,53,69);
    border-color: rgb(220,53,69);
    color: black;
}

.yellowbutton {
    background-color: rgb(255,192,8) !important;
    border-color: rgb(255,192,8) !important;
}

.yellowbutton:hover {
    background-color: rgb(255,192,8);
    border-color: rgb(255,192,8);
    color: white;
}

.bluebutton {
    background-color: rgb(52, 102, 175) !important;
    border-color: rgb(52, 102, 175) !important;
}

.bluebutton:hover {
    background-color: rgb(52, 102, 175);
    border-color: rgb(52, 102, 175);
    color: black !important;
}

.navsection {
    column-gap: 10px;
}

.navlink {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navlink:hover {
    color: grey !important;
}

/* homepage header */
.homehead {
    background-color: rgb(48, 48, 48);
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.homepagebuttons {
    column-gap: 10px;
}

.redoutlinebutton {
    color: rgb(220,53,69) !important;
    border-color: rgb(220,53,69);
}

.yellowoutlinebutton{
    color: rgb(255,192,8) !important;
    border-color: rgb(255,192,8);
}

.redoutlinebutton:hover {
    background-color: rgb(220,53,69) !important;
    border-color: rgb(220,53,69) !important;;
    color: white !important;
}

.yellowoutlinebutton:hover {
    background-color: rgb(255,192,8) !important;
    border-color: rgb(255,192,8) !important;;
    color: black !important;
}

/* main homepage content */

.lefthomepage {
    background-color: rgb(220,53,69);
    border-color: rgb(216, 36, 54);
}

.righthomepage {
    background-color: rgb(248,249,250);
    border-color: rgb(224, 225, 225);
}

.homepagebox {
    padding: 20px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
}

.homerow {
    column-gap: 20px;
    row-gap: 20px;
}

/* login and sign up pages */

.logsigncontainer {
    border: thin solid rgb(224, 225, 225);
    max-width: 70%;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.loginformfield:focus {
    border-color: rgb(220,53,69) !important;
    /* adapted from https://developer.mozilla.org/en-US/docs/Learn/CSS/Howto/Add_a_shadow */
    box-shadow: 0px 0px 3px 2px rgb(220,53,69);
}

.signformfield:focus {
    border-color: rgb(255,192,8) !important;
    /* adapted from https://developer.mozilla.org/en-US/docs/Learn/CSS/Howto/Add_a_shadow */
    box-shadow: 0px 0px 3px 2px rgb(255,192,8);
}


/* footer */
.footercontainer {
    max-width: 100%;
    background-color: rgb(48, 48, 48);
}

.footerlinks {
    justify-content: flex-end;
    column-gap: 20px;
}

.footercol {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    max-width: 100% !important;
}

.tandc{
    color: grey;
    padding-top: 10px;
    font-size: 12px;
}

/* items for footer positioning https://css-tricks.com/couple-takes-sticky-footer/ */
body {
    display: flex;
    flex-direction: column;
}
  
footer {
    flex-shrink: 0;
    flex-grow: 1;
}
/* end of reference */

/* browse page */

.browsecol {
    padding: 0 !important;
    max-width: 20% !important;
}

.browsecontainer{
    border: thin solid rgb(224, 225, 225);
    border-radius: 15px;
    background-color: white;
    padding: 15px;
}

.card {
    border: thin solid rgb(224, 225, 225);
    border-radius: 15px;
    padding: 5px;
    background-color: white;
}

.card:hover {
    transform: scale(1.05);
}

.browsetitle{
    font-weight: bold;
}

.searchbar:focus {
    border-color: rgb(52, 102, 175) !important;
    /* adapted from https://developer.mozilla.org/en-US/docs/Learn/CSS/Howto/Add_a_shadow */
    box-shadow: 0px 0px 3px 2px rgb(52, 102, 175);
}

/* single card page */
.carddetails{
    border: thin solid rgb(224, 225, 225);
    border-radius: 15px;
    padding: 10px !important;
}

.detailscontainer {
    row-gap: 10px;
}

td, th {
    width: 33%;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0;
}

.attacktop {
    border-top: thin solid rgb(220,53,69);
}

.attackbottom {
    border-bottom: thin solid rgb(220,53,69);
}

.cardinfocol{
    justify-content: flex-end;
    column-gap: 5px;
}

.cardimgcol{
    row-gap: 10px;
}

/* account */
.avatar {
    border-radius: 50%;
}

/* utility */

/* margins */
.mt20{
    margin-top: 20px;
}

.mt10{
    margin-top: 10px;
}

.mb2{
    margin-bottom: 2px;
}

.mb0{
    margin-bottom: 0;
}

.ml10 {
    margin-left: 10px;
}

/* flex settings */
.dflex{
    display: flex !important;
}

.fdcol {
    flex-direction: column !important;
}

.alitemscenter{
    align-items: center !important;
}

.centertext{
    text-align: center;
}

.jcontcenter {
    justify-content: center;
}

.rowgap5{
    row-gap: 5px;
}

.colgap5 {
    column-gap: 5px;
}

/* text  */
.textwhite {
    color: white !important;
}

.textblack {
    color: black !important;
}

.textred {
    color: red !important;
}

.talright {
    text-align: right;
}

/* width */
.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.wauto{
    width: auto;
}


/* responsive design */
@media (max-width: 40rem) {

    .logincontainer{
        border: none;
        max-width: 100%;
    }

    .footercopy {
        justify-content: center;
    }

    .footerlinks {
        justify-content: center;
    }

    .navsection {
        justify-content: center;
    }

    .card{
        width: 70%;
    }

    .browsecol {
        max-width: 100% !important;
    }

    fieldset {
        text-align: center;
    }

    .cardimgcol{
        width: 50% !important;
        max-width: 50% !important;
    }

    .carddetailsrow {
        flex-direction: row;
    }

    .cardimgrow {
        align-items: center;
    }

    table {
    display: table;
    overflow-x: initial;
    }

    .navlinks {
        flex-direction: column;
    }

}

