<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="container centertext">
        <h1>Sorry! Something went wrong</h1>
        <h3>Error: <%= message  %></h3>
        <img src="../images/confused_pikachu.png" alt="" height="400">
    </div>
    <%- include("partials/footer")  %>
</body>
</html>