/* browse page */
.browsecol {
    padding: 0 !important;
    max-width: 20% !important;
}

.browsecontainer{
    padding: 15px;
}

.card {
    border: thin solid rgb(224, 225, 225);
    border-radius: 15px;
    padding: 5px;
    background-color: white;
}

.card:hover {
    transform: scale(1.05);
}

.browseinfo{
    border-bottom: thin solid lightgray;
}
