.redbutton {
    background-color: rgb(204, 0, 0) !important;
    border-color: rgb(204, 0, 0) !important;
}

.redbutton:hover {
    background-color: rgb(204, 0, 0);
    border-color: rgb(204, 0, 0);
    color: black !important;
}

.redbuttonfaded{
    background-color: rgb(227,93,106) !important;
    border-color: rgb(227,93,106) !important;
    color: black !important;
}

.redbuttonfaded:hover {
    color: white !important;
}

.yellowbutton {
    background-color: rgb(255,192,8) !important;
    border-color: rgb(255,192,8) !important;
}

.yellowbutton:hover {
    background-color: rgb(255,192,8);
    border-color: rgb(255,192,8);
    color: white !important;
}

.bluebutton {
    background-color: rgb(52, 102, 175) !important;
    border-color: rgb(52, 102, 175) !important;
}

.bluebutton:hover {
    background-color: rgb(52, 102, 175);
    border-color: rgb(52, 102, 175);
    color: black !important;
}