/* single card page */
.carddetails {
    border: thin solid rgb(224, 225, 225);
    border-radius: 15px;
    padding: 10px !important;
}

.attacktop {
    border-bottom: thin solid rgb(204, 0, 0);
}

.attackbottom {
    border-top: thin solid rgb(204, 0, 0);
}

.cardright{
    justify-content: flex-end;
    column-gap: 5px;
}

.cardimgcol{
    row-gap: 10px;
}

.ratingradio {
    accent-color: rgb(255,192,8);
}