/* footer */
.footercontainer {
    max-width: 100%;
    background-color: rgb(48, 48, 48);
}

.footerlinks {
    justify-content: flex-end;
    column-gap: 20px;
}

.footercol {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    max-width: 100% !important;
}

.tandc{
    color: grey;
    padding-top: 10px;
    font-size: 12px;
}

/* items for footer positioning https://css-tricks.com/couple-takes-sticky-footer/ */
body {
    display: flex;
    flex-direction: column;
}
  
footer {
    flex-shrink: 0;
    flex-grow: 1;
}
/* end of reference */
