/* homepage header */
.homehead {
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    background-image: url(../images/homebackground.jpg) !important;
    max-width: 100%;
}

.homepagebuttons {
    column-gap: 10px;
}

/* main homepage content */
.lefthomepage {
    background-color: rgb(220,53,69);
    border-color: rgb(216, 36, 54);
}

.righthomepage {
    background-color: rgb(248,249,250);
    border-color: rgb(224, 225, 225);
}

.homepagebox {
    padding: 20px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
}

.homerow {
    column-gap: 20px;
    row-gap: 20px;
}