/* responsive design */
@media (max-width: 40rem) {

    .logincontainer{
        border: none;
        max-width: 100%;
    }

    .footercopy {
        justify-content: center;
    }

    .footerlinks {
        justify-content: center;
    }


    .card{
        width: 70%;
    }

    .browsecol {
        max-width: 100% !important;
    }

    fieldset {
        text-align: center;
    }

    .cardimgcol{
        width: 100% !important;
        max-width: 100% !important;
    }

    .carddetailsrow {
        flex-direction: row;
    }

    .cardimgrow {
        align-items: center;
    }

    table {
    display: table;
    overflow-x: initial;
    }

    .browsebuttons {
        text-align: center;
    }

    .dropdowncol {
        justify-content: center;
    }

    .commentright {
        flex-direction: row;
        width: 100% !important;
        max-width: 100% !important;
    }

    .commentleft {
        width: 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 43rem) {
    .navlinks {
        flex-direction: column;
    }

    .navsection {
        justify-content: center;
        width: 100%;
    }

    .navrow {
        flex-direction: column;
    }
}



@media (max-width: 30rem) {
    .carddetailsrow {
        flex-direction: column;
    }

    .cardright {
        justify-content: center;
    }

    .cardleft {
        justify-content: center;
    }
}