<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="container centertext">
        <h1>ERROR 404 PAGE NOT FOUND</h1>
    </div>
    <%- include("partials/footer")  %>
</body>
</html>