<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<body>
  <%- include("partials/navbar")  %>

  <div class="container homehead textwhite w100">

    <div class="row">
      <div class="column centertext">
        <img src="images/pokeball_straight.png" alt="" height="80">
      </div>
    </div>

    <div class="row">
      <div class="column centertext">
        <h1>Tradecard</h1>
      </div>
    </div>

    <div class="row">
      <div class="column centertext">
        <div>Where there is knowledge there is power (and fun) !</div>
      </div>
    </div>

        <div class="row">
      <div class="column centertext">
        <div>We empower you to collect, monitor, trade, sort and browse Pokémon cards</div>
      </div>
    </div>

    <div class="row">
      <div class="column centertext mt10">
        <a href="/browse" class="redoutlinebutton button button-outline">Browse Cards</a>
      <a href="/expansions" class="yellowoutlinebutton button button-outline">View Expansions</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row homerow">

      <div class= "column lefthomepage homepagebox textwhite dflex fdcol alitemscenter">
          <h1 class="centertext">Collect</h1>
          <p class="centertext">Monitor your progress towards catching em' all with our dedicated tracking platform</p>

          <img class="homeimg" src="images/trading_game.png" alt="">
      </div>

      <div class= "column righthomepage homepagebox dflex fdcol textblack">
          <h1 class="centertext">Share</h1>

          <p class="centertext">Share your collections with friends and compete</p>
          <img clas="homeimg" src="images/cards.png" alt="">
      </div>

    </div>
  </div>
  
  <%- include("partials/footer")  %>
</body>
</html>